.bg {
	overflow: hidden;
	z-index: -10;
	width: 100vw;
	height: 100vh;
	/* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
	background: linear-gradient(to bottom, rgba(15,15,15,0.3) 0%, rgba(0,0,0,0.3) 100%), radial-gradient(at top center, rgba(15,15,15,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
	background-position: fixed;
	position: fixed;
}